@page "/editable-grid"

@using BlazorComponentPOC.Data
@using BlazorComponentPOC.Components

@inject WeatherForecastService ForecastService
@inject StoreOrderService _storeOrderService

<h1>Editable Grid Demo</h1>

<EditableGridComponent Datasource="@StoreOrders">

</EditableGridComponent>


@code { 

    public List<ProductListRow> StoreOrders { get; set; }
    protected override async Task OnInitializedAsync()
    {
        StoreOrders = await _storeOrderService.GetStoreOrders();
    }
}
